body {
  font-family:'Times New Roman', Times, serif;
}

h1 {
  margin-top: 20px;
  font-weight: bold;
}

h2 {
  margin-top: 120px;
  margin-bottom: 40px;
}

h4 {
  font-weight: bold;
}

ol {
  font-size: larger;
}

table {
  font-family: 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #494949;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

video {
  margin-top: 50px;
}

.red-mark {
  background-color: #e47878;
  border: 4px solid #363636;
}

.yellow-mark {
  background-color: #FFEDC0;
  border: 4px solid #363636;
}

.special:hover {
	color: #e47878;
}

/*---Bootstrap's Navbar override Section---*/
.navbar {
  background-color: #FCF7F3;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
   
.navbar .navbar-brand {
  color: #616161;
  font: size 32px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bolder;
}
   
.navbar .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e47878;
}
   
.navbar .navbar-nav > li > a {
  color: #414141;
}
   
.navbar .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {  
  color: #e47878;   
}
   
.navbar .navbar-nav > li > .dropdown-menu {   
  background-color: #FCF7F3;
  border-radius: 10px;
  border-width: 2px;
  border-color: #e47878;
}
   
.navbar .navbar-nav > li > .dropdown-menu > li > a {
  color: #363636;
}
   
.navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
  background-color: #FFEDDC;
}

.navbar-toggler {
  background-color: #FFEDDC;
  border-color: #363636;
  color: #e47878;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20,20,20, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#profile-image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.circular-image { 
  border-top-left-radius: 50% 50%; 
  border-top-right-radius: 50% 50%; 
  border-bottom-right-radius: 50% 50%; 
  border-bottom-left-radius: 50% 50%; 
}

/*---Home Section---*/
#home-section {
  background-color: #FCF7F3;
  height: 100vh;
  margin-top: 50px;
  padding-top: 58px;
  text-align: center;
}

#hello-message-box {
  background-color: #FFEDC0;
  height: 100px;
  width : 500px;
  padding-top: 20px;
  margin-bottom: 10px;
  border: 4px solid black;
}

#scroll-down-arrow {
  position: absolute;
  top: 90%;
  left: 51%;
  transform: translate(-51%,0);
}

/*---About Section---*/
#about-section {
  background-color: #FFEDDC;
  height: 1300px;
  text-align: center;
  justify-content: center;
  scroll-margin-top: 58px; /*that's because of home's section padding-top*/
  padding-top: 20px;
}

#about-box {
  background-color: #FFEDC0;
  border: 4px solid black;
  height: 220px;
  width : 550px;
  padding-top: 20px;
  margin-top: 50px;
  overflow: auto;
}

.about-section-image {
  margin-top: 50px;
}

/*---My-Work Section---*/
#mywork-section {
  background-color: #FCF7F3;
  height: 1200px;
  padding-top: 20px;
  scroll-margin-top: 58px; /*that's because of home's section padding-top*/
  justify-content: center;
  text-align: center;
}

.project-card {
  background-color: #ffffff;
  border: 2px solid black;
  height: 85px;
  width: 250px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 0px;
  display: flex ;
}

.project-card-summary {
  margin-left: 15px;
  margin-top: 10px;
}

/* My-Interests Section */
#interests-section {
  background-color: #FFEDDC;
  height: 3100px;
  scroll-margin-top: 58px;
  text-align: center;
  padding-top: 20px;
}

#interests-music-section {
  scroll-margin-top: 58px;
}

#interests-board_games-section {
  scroll-margin-top: 58px;
}

#interests-useful_articles-section {
  scroll-margin-top: 58px;
}

.article-box {
  background-color:#FCF7F3;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid black;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,.2);
}

/*---Footer Section---*/
#footer-section {
  background-color: #FCF7F3;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}